

/**
ABN COLORS
 */
.header-bar{-fx-background-color: #ffffff;}
.title-bar{ -fx-background-color: #009286; -fx-text-fill: #ffffff; }
.anchorpane{ -fx-background-color: #f2f2f2;}
.anchorpane{ -fx-text-fill: #333333;}

.title{-fx-text-fill: #608e28;}
.text{-fx-text-fill: #333333}
.ark-button{
    -fx-background-color: #ffd200;
    -fx-border-radius: 5px;
    -fx-text-fill: #000000;

}
.ark-button:hover{
    -fx-opacity: 0.5;
}

.input {
    -fx-background-color: rgba(255,255,255,1);
    /*-fx-border-color: #e7e7e7;*/
    /*-fx-border-width: 2px;*/
    -fx-border-radius: 5px;
    -fx-text-inner-color: #333333;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #333333;
    -fx-fill: #333333;
    -fx-border-bottom: 2px solid #009286
}

.input:focused{
    -fx-border-color: #608e28;
    -fx-text-inner-color: #608e28;
}