/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-mei-2018, 14:32:03
    Author     : Arthur
*/

/*
Startup screen
*/
#startAnchorPane{
    -fx-background-image: url("./images/creditcard.jpg");
    
}
.anchor-background{
    -fx-background-color: #212636;
    -fx-background-radius: 15;
}
.transparent-input {
    -fx-background-color: rgba(255,255,255,0.1);
    /*-fx-border-color: #e7e7e7;*/
    /*-fx-border-width: 2px;*/
    -fx-border-radius: 5px;
    -fx-text-inner-color: #e7e7e7;
    -fx-text-fill: #e7e7e7;
    -fx-prompt-text-fill: #e7e7e7;
    -fx-fill: #e7e7e7;
    /*-fx-border-bottom: 2px solid #e7e7e7*/
}

.transparent-input:focused{
   -fx-border-color: #806105;
   -fx-border-color: #806105;
   -fx-text-inner-color: #806105;
}
#loginPane{
    fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 100,100,100,100 ); 
}

.error-message{
    -fx-border-color: #ff0000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill : #ff0000;
}
.ark-button{
    -fx-background-color: #806105;
    -fx-border-radius: 5px;
    -fx-text-fill: #e7e7e7;
    
}
.ark-button:hover{
    -fx-opacity: 0.5;
}